body {
    margin: 0;
    padding: 0;
    background-color: rgb(49, 19, 19);
    display: flex;
    justify-items: center;
    align-content: center;
}

li {
    list-style: none;
    margin-bottom: 5px;
}

.header{
    text-align: center;
    margin-top: 50px;
    transition: all 3s;
    height: 100px
    /* //transition-delay: 3s; */
    }



.header.vanish {
   height: 0px;
   margin: 0 auto;
}


.pregame {
  animation-duration: 3s;
  animation-name: fire;
  animation-iteration-count: infinite;
    /* background: linear-gradient(#f29100 , #cc0000 , #1f0203 90%) no-repeat #1f0203; */
    /* linear-gradient(#f29100, #580607) no-repeat #580607;            */

}

@keyframes fire {
    from {
        background: linear-gradient(#f29100 , #700607 40%, #221111) no-repeat #221111;
    }
    
    to {
     margin-left:0%;
     width:100%;
     background: linear-gradient(#f29100 , #cc0000 , #1f0203 90%) no-repeat #1f0203;
   }
}

.main {
    width: 940;
    display: flex;
    flex-direction: column;
    z-index: 1;

}

.left,
.right {
    width: 150px;
    height: 600px;
    padding: 10px;
    margin: 100px auto;
    
}

.left img,
.right img {
    width: 150px
    
}

footer{
    width: 900px;
    margin: 0px auto;
    display: flex;
    justify-content: space-evenly;
    transition: all 3s;
}

footer.vanish {
   height: 0px;
   margin: 0 auto;
   display: none;
}

.footer {
    height: 50px;
    width: 300px;
    display: flex;
    justify-items: center;
    align-content: center;
    background-color: #f29100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(49, 19, 19);
    line-height: 1.2em;
}


.footer:hover {
    position: relative;
    
}

.footer span{
    margin: auto auto;
}

.footer:hover span {
    display: none
}

.footer div {
    display: none;
    background-color: #f29100;
    width: 260px;
    padding: 20px;

}

.footer:hover div {
    position: absolute;
    bottom: 5px;
    display: inline-block;
    
}


#audios {
    display:none
 }

 .game {
     margin: 20px auto;
     background-image: url(../images/welcome.png);
 }